{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/poll.css') }}" />
{% endblock %}

{% block page_title %}{{ poll.getTitle() }}{% endblock %}

{% block body %}
    <div id="poll-description">
        {{ poll.getContent() }}
    </div>
    {% if has_voted == false %}
        <div id="poll-options">
            {% for option in options %}
                <a href="{{ path('vote_poll', {'id': poll.id, 'option_id': option.id }) }}" class="button warning">
                    {{ option.value | trans }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>{{ 'polls.user_already_voted' | trans }}</p>
    {% endif %}
{% endblock %}

