{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin_game.css') }}" />
{% endblock %}

{% block page_title %}{{ 'game.faction.create' | trans }}{% endblock %}

{% block body %}
    <div id="server-form" class="form">
        <form method="post" action="{{ path('game_create_faction') }}">
            <div class="form-group">
                <label for="name">{{ 'game.faction.name' | trans }}</label>
                <input type="text" name="name" placeholder="{{ 'game.faction.name' | trans }}" />
            </div>
            <div class="form-group">
                <label for="description">{{ 'game.faction.description' | trans }}</label>
                <textarea name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="color-black">{{ 'game.faction.color.black' | trans }}</label>
                <input type="color" name="color-black" />

                <label for="color-grey">{{ 'game.faction.color.grey' | trans }}</label>
                <input type="color" name="color-grey" />

                <label for="color-white">{{ 'game.faction.color.white' | trans }}</label>
                <input type="color" name="color-white" />

                <label for="color-main">{{ 'game.faction.color.main' | trans }}</label>
                <input type="color" name="color-main" />

                <label for="color-mainLight">{{ 'game.faction.color.main_light' | trans }}</label>
                <input type="color" name="color-mainLight" />

                <label for="color-mainLighter">{{ 'game.faction.color.main_lighter' | trans }}</label>
                <input type="color" name="color-mainLighter" />
            </div>
            <div class="form-group">
                <label for="banner">{{ 'game.faction.banner' | trans }}</label>
                <input id="banner" type="text" name="banner" />
            </div>
            <button class="button success" type="submit">{{ 'game.faction.validate' | trans }}</button>
        </form>
    </div>
{% endblock %}
