{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.username) }}
            <div class="form-input">
                {{ form_widget(form.username) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            <div class="form-input">
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword) }}
            <div class="form-input">
                {{ form_widget(form.plainPassword) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.confirmationPassword) }}
            <div class="form-input">
                {{ form_widget(form.confirmationPassword) }}
            </div>
        </div>

        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}
