<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'website_name' | trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main_mobile.css') }}" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

         {% block javascripts %}
           <script type="text/javascript" src="{{ asset('js/mobile.js') }}"></script>
        {% endblock %}
    </head>
    <body>


        <div id="home">
            <div id="overlay" onclick="hideMenu()"> </div>
            <div  class="menupanel" id="menupanel"  onclick="hideMenu()" >
               <div class="profile">

                            {% if is_granted('ROLE_USER') %}
                                  <img src="{{ asset('images/icons/profile.png') }}" />
                                  <div >
                                  {{ app.user.username }}
                                     <a href="{{ path('fos_user_security_logout') }}">
                                        <img src="{{ asset('images/icons/logout.png') }}"  class="logout"/>
                                     </a>
                                </div>
                                 <div>
                                    {{ app.user.email }}
                                 </div>
                            {% else %}
                                <div class="anonymous">
                                    {{ 'anonymous' | trans }}
                                </div>
                            {% endif %}
                </div>

                <div id="icon-container"> 
                    <a href="https://www.facebook.com/kalaxiagame/" class="icon"> <img src="{{ asset('images/icons/social/facebook.png') }}" width="32" height="32" alt="Facebook" /> </a>
                    <a href="https://instagram.com/kalaxiagame/" class="icon"> <img src="{{ asset('images/icons/social/instagram.png') }}" id="instagram-icon" width="28" height="28" /> </a>
                    <a href="https://twitter.com/kalaxiagame" class="icon"> <img src="{{ asset('images/icons/social/twitter.png') }}" width="32" height="32" /> </a>
                    <a href="https://www.linkedin.com/company/11369270/" class="icon"> <img src="{{ asset('images/icons/social/linkedin.png') }}" width="32" height="32" /> </a>
                    <a href="https://kalaxia.org" class="icon"> <img src="{{ asset('images/icons/social/blogpost.png') }}" width="32" height="32" /> </a>          
                </div>

                {% if not is_granted('ROLE_USER') %}
                 <div class="menulist">
                      <div class="menuelement {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                           active " {% else %}
                           " onclick='move("{{ path('fos_user_security_login') }}");' {%endif%}>
                         <img src="{{ asset('images/icons/login.png') }}"/>
                         <span> {{ 'user.connect' | trans }}</span>
                     </div>
                       <div class="menuelement {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}
                           active " {% else %}
                            " onclick='move("{{ path('fos_user_registration_register') }}");' {%endif%}>
                         <img src="{{ asset('images/icons/registration.png') }}"/>
                         <span> {{ 'registration' | trans }}</span>
                     </div>
                 </div>
                 {% endif %}

                <div class="menulist">
                     <div class="menuelement {% if app.request.attributes.get('_route') == 'homepage' %}
                          active " {% else %}
                          " onclick='move("{{ path('homepage') }}");' {%endif%}>
                         <img src="{{ asset('images/icons/home.png') }}"/>
                         <span> {{ 'homepage.title' | trans }}</span>
                     </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="menuelement {% if app.request.attributes.get('_route') == 'admin_dashboard' %}
                         active " {% else %}
                         " onclick='move("{{ path('admin_dashboard') }}");' {%endif%}>
                         <img src="{{ asset('images/icons/adminspace.png') }}"/>
                         <span> {{ 'admin.dashboard' | trans }}</span>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                         <div class="menuelement {% if app.request.attributes.get('_route') == 'dashboard' %}
                               active " {% else %}
                              " onclick='move("{{ path('dashboard') }}");' {%endif%}>
                             <img src="{{ asset('images/icons/myspace.png') }}"/>
                             <span> {{ 'user.dashboard' | trans }}</span>
                         </div>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                          <div class="menuelement {% if app.request.attributes.get('_route') == 'notifications' %}
                               active " {% else %}
                               " onclick='move("{{ path('homepage') }}");' {%endif%}>
                              <img src="{{ asset('images/icons/notification.png') }}"/>
                              <span> {{ 'notifications.all' | trans }}</span>
                          </div>
                    {% endif %}
                    <div class="menuelement {% if app.request.attributes.get('_route') == 'project_board' %}
                         active " {% else %}
                         " onclick='move("{{ path('project_board') }}");' {%endif%}>
                        <img src="{{ asset('images/icons/project.png') }}" />
                        <span>{{ 'project.board' | trans }}</span>
                    </div>
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class="menulist">
                    <div class="menuelement {% if app.request.attributes.get('_route') == 'profile' %}
                         active " {% else %}
                         " onclick='move("{{ path('profile') }}");' {%endif%}>
                        <img src="{{ asset('images/icons/myaccount.png') }}" />
                        <span>{{ 'profile.dashboard' | trans }}</span>
                    </div>
                {% endif %}
                </div>

            </div>

            <div id="page-title"  >
                   <button id="menu_button" onclick="showMenu()" class="menu-button">Menu</button>
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>

            <div class="content-wrap">
                <div class="content">
                  {% block body %}{% endblock %}
            </div>
            </div>
        </div>


     </body>
</html>
