{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}

{% block page_title %}{{ 'user.dashboard' | trans }}{% endblock %}

{% block body %}
    <div id="servers">
        <div>
            <button class="button">{{ 'game.tutorial.launch' | trans }}</button>
        </div>
        <div>
            {% if app.user.servers | length > 0 %}
            <h3>{{ 'game.my_servers' | trans }}</h3>
            <section class="servers-list">
                {% for server in app.user.servers %}
                    <div class="server">
                        <div class="info">
                            <strong>
                                {{ server.name }}
                            </strong>
                            <em>
                                {{ 'game.server.nb_players' | trans({"%nb_players%": players_count[server.id] }) }}
                            </em>
                        </div>
                        <div class="actions">
                            <a href="{{ path('join_game', {'server_id': server.id }) }}" class="button success">{{ 'game.server.play' | trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
            {% endif %}
        
            {% if available_servers | length > 0 %}
            <h3>{{ 'game.available_servers' | trans }}</h3>
            <section class="servers-list">
                {% for server in available_servers %}
                    <div class="server">
                        <div class="info">
                            <strong>
                                {{ server.name }}
                            </strong>
                            <em>
                                {{ 'game.server.nb_players' | trans({"%nb_players%": players_count[server.id] }) }}
                            </em>
                        </div>
                        <div class="actions">
                            <a href="{{ path('join_game', {'server_id': server.id }) }}" class="button warning">{{ 'game.server.join' | trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
            {% endif %}
            
            
            {% if next_servers | length > 0 %}
            <h3>{{ 'game.next_servers' | trans }}</h3>
            <section class="servers-list">
                {% for server in next_servers %}
                    <div class="server">
                        <div class="actions">
                            <button>{{ 'game.server.join' | trans }}</button>
                        </div>
                        <div class="info">
                            <strong>
                                {{ server.name }}
                            </strong>
                            <em>
                                {{ server.startedAt | date('full_date' | trans) }}
                            </em>
                        </div>
                            
                    </div>
                {% endfor %}
            </section>
            {% endif %}
            
            {% if current_polls | length > 0 %}
            <h3>{{ 'polls.current_polls' | trans }}</h3>
            <section class="polls-list">
                {% for poll in current_polls %}
                    <div class="poll">
                        <div class="info">
                            <strong>
                                {{ poll.getTitle() }}
                            </strong>
                            <em>
                                {{ poll.endedAt | date('full_date' | trans) }}
                            </em>
                        </div>
                        <div class="link">
                            <a href="{{ path('get_poll', {"id": poll.id}) }}" class="button warning">
                                {{ 'polls.goto' | trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </section>
            {% endif %}
        </div>
    </div>
{% endblock %}