{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profil.css') }}" />
{% endblock %}

{% block body %}
<h3 id="profil-title"> {{ 'profil.title'|trans }} {{ user.name }} </h3>
<div id="profil-window">
    <p> <b> {{ 'profil.entries.username'|trans }} : </b> {{ user.name }} </p>
    <p> <b> {{ 'profil.entries.email'|trans }} : </b> {{ user.email }} </p>
    <p> <b> {{ 'profil.entries.last_login'|trans }} : </b> {{ user.last_login|date('full_date'|trans) }} </p>
    <p> <b> {{ 'profil.entries.role'|trans }} : </b>
        {% if is_granted('ROLE_ADMIN') %}
            {{ 'profil.roles.admin'|trans }}
        {% elseif is_granted('ROLE_USER') %}
            {{ 'profil.roles.user'|trans }}
        {% else %}
            {{ 'profil.roles.guest'|trans }}
        {% endif %}
    </p>
</div>
{% endblock %}
