{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/game-preview.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/game-previews.js"></script>
{% endblock %}

{% block body %}
    <div id="landing">
        <header>
            <h1>
                <img src="/images/logo_typo_white_small.png" alt="Kalaxia" />
            </h1>
        </header>
        <section>
            <p>{{ 'homepage.description.title' | trans }}</p>
            <p>{{ 'homepage.description.alpha' | trans }}</p>
        </section>
    </div>
    <div id="game-preview">
        <section>
            <div class="arrow" onclick="previousPreview()">
                <img src="/images/icons/left-arrow.png" />
            </div>
            {% for i, preview in ['ships', 'map', 'fight', 'techno', 'fleet'] %}
                <div class="preview" data-number="{{ i + 1 }}" data-id="{{ i + 1 }}">
                    <img src="/images/game/{{ preview }}.png" alt="{{ preview }}"/>
                </div>
            {% endfor %}
            <div class="arrow" onclick="nextPreview()">
                <img src="/images/icons/right-arrow.png" />
            </div>
        </section>
        <footer>
            <div class="preview-points">
                <section>
                    {% for i, preview in ['ships', 'map', 'fight', 'techno', 'fleet'] %}
                        <div class="preview-point {% if i == 2 %}active{% endif %}" data-number="{{ i + 1 }}" data-label="{{ ('homepage.game_previews.' ~ preview) | trans }}"></div>
                    {% endfor %}
                </section>
                <footer>
                    <p>{{ 'homepage.game_previews.fight' | trans }}</p>
                </footer>
            </div>
        </footer>
    </div>
    <div id="container">
        <div id="join">
            <section>
                <a href="#">
                    <div>
                        {{ 'homepage.description.play_game' | trans | raw }}
                    </div>
                </a>
            </section>
            <footer>
                <h4>{{ 'homepage.follow_us' | trans }}</h4>
                <div>
                    <a href="https://discordapp.com/invite/mDTms5c" class="icon"><img src="{{ asset('images/icons/social/discord.png') }}" width="32" height="32" alt="Discord" /></a>
                    <a href="https://www.facebook.com/kalaxiagame/" class="icon"> <img src="{{ asset('images/icons/social/facebook.png') }}" width="32" height="32" alt="Facebook" /> </a>
                    <a href="https://instagram.com/kalaxiagame/" class="icon"> <img src="{{ asset('images/icons/social/instagram.png') }}" id="instagram-icon" width="28" height="28" /> </a>
                    <a href="https://twitter.com/kalaxiagame" class="icon"> <img src="{{ asset('images/icons/social/twitter.png') }}" width="32" height="32" /> </a>
                    <a href="https://www.linkedin.com/company/11369270/" class="icon"> <img src="{{ asset('images/icons/social/linkedin.png') }}" width="32" height="32" /> </a>
                </div>
            </footer>
        </div>
        <div id="social-networks">
            <header>
                <h2>
                    <a href="https://kalaxia.org" class="icon">
                        <img src="{{ asset('images/icons/social/blogpost.png') }}" width="48" height="48" />
                    </a>
                    {{ 'homepage.blog' | trans }}
                </h2>
            </header>
            <section>
                <ul>
                {% for ticket in tickets|slice(0,4) %}
                    <li class="ticket">
                        <a href="{{ ticket.link }}">
                            <h4>{{ ticket.title }}</h4>
                            <h5>{{ ticket.date|date('full_date' | trans) }}</h5>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </section>
            <footer></footer>
        </div>
    </div>
{% endblock %}
