
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project.css') }}" />
{% endblock %}

{% block body %}
    <div id="board-header">
        <h2>{{ 'project.board' | trans }}</h2>
        <div id="board-tools">
            <a href="{{ path('report_bug') }}">
                {{ 'project.feedback.report_bug' | trans }}
            </a>
            <a href="{{ path('propose_evolution') }}">
                {{ 'project.feedback.propose_evolution' | trans }}
            </a>
        </div>
    </div>
    <div id="board">
    {% for status in statuses %}
        <div class="board-column">
            <h3>{{ ("project.status." ~ status) | trans }}</h3>
            {% if feedbacks[status] is defined %}
                {% for feedback in feedbacks[status] %}
                    <a href="{{ path((feedback.type == 'bug') ? 'get_bug': 'get_evolution', {'id': feedback.id}) }}" class="board-card">
                        <div class="type-image">
                            <img src="{{ asset('images/icons/' ~ ((feedback.type == 'bug') ? 'bug.png': 'evolution.png')) }}" />
                        </div>
                        <div class="infos">
                            <div class="title">
                                {{ feedback.title }}
                            </div>
                            <div class="author">
                                {{ feedback.author }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}