
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/project.js') }}"></script>
{% endblock %}

{% block page_title %}{{ 'project.board' | trans }}{% endblock %}

{% block body %}
    <div id="board" data-enhanced="false">
        <header>
            {% if is_granted('ROLE_USER') %}
                <a class="button" href="{{ path('report_bug') }}">
                    {{ 'project.feedback.report_bug' | trans }}
                </a>
                <a class="button" href="{{ path('propose_evolution') }}">
                    {{ 'project.feedback.propose_evolution' | trans }}
                </a>
            {% endif %}
        </header>
        <section>
        {% for status in statuses  %}
            <div class="board-column"
                 {% if mobileTemplate %}
                    style="width:100%;"
                    id="board_col_{{loop.index}}"
                 {% endif %} >
                <h3>{{ ("project.status." ~ status) | trans }}
                     {% if feedbacks[status] is defined %} ({{feedbacks[status] | length}}) {% endif %}
                {% if mobileTemplate %}
                   {% if not loop.first %}  <div class="left_arrow" > <a class="button" href="#" onclick="displayNav({{loop.index}},'previous')"> < </a></div> {% endif %}
                   {% if not loop.last %}  <div class="right_arrow"> <a class="button" href="#" onclick="displayNav({{loop.index}},'next')">></a> </div> {% endif %}
                {%endif%}
                </h3>

                <section {% if is_granted('ROLE_DEVELOPER') %}
                    data-status="{{ status }}"
                    ondrop="drop_handler(event);"
                    ondragover="dragover_handler(event);"
                    {% endif %}>
                    {% if feedbacks[status] is defined %}
                        {% for feedback in feedbacks[status] %}
                            <a href="{{ path((feedback.type == 'bug') ? 'get_bug': 'get_evolution', {'id': (feedback.slug | length > 0) ? feedback.slug : feedback.id}) }}"
                               id="feedback-{{ feedback.id }}}"
                               class="board-card"
                               data-type="{{ feedback.type }}"
                               {% if is_granted('ROLE_DEVELOPER') %}
                                   data-id="{{ feedback.id }}"
                                   draggable="true"
                                   ondragstart="dragstart_handler(event);"
                               {% endif %}>
                                <header>
                                    <h5>{{ feedback.title }}</h5>
                                    <div class="labels">
                                        {% for label in feedback.labels %}
                                            <div class="tooltip" style="background-color: {{ label.color }}">
                                                <span class="tooltip-text">
                                                    {{ label.name }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </header>
                                <section>
                                    <p class="author">{{ feedback.author }}</p>
                                    <p class="date">
                                        {% if feedback.createdAt == feedback.updatedAt %}
                                            {{ 'project.feedback.created_at' | trans }} {{ feedback.createdAt | date('full_date' | trans) }}
                                        {% else %}
                                            {{ 'project.feedback.updated_at' | trans }} {{ feedback.updatedAt | date('full_date' | trans) }}
                                        {% endif %}
                                    </p>
                                </section>
                            </a>
                        {% endfor %}
                    {% endif %}
                </section>
            </div>
              <script>
               {% if not loop.first %}
                   var x = document.getElementById('board_col_{{loop.index}}') ;
                   hide(x) ;
               {% endif %}
             </script>
        {% endfor %}
        </section>
    </div>
{% endblock %}
