
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/project.js') }}"></script>
{% endblock %}

{% block page_title %}
    <img src="{{ asset('images/icons/' ~ ((feedback.type == 'bug') ? 'bug.png': 'evolution.png')) }}" />
    {{ feedback.title }}
{% endblock %}

{% block body %}
    <div id="feedback">
        <section>
            <div class="infos">
                <div class="info-card">
                    <em>{{ 'project.feedback.author' | trans }}</em>
                    <strong>{{ feedback.author.username }}</strong>
                </div>
                <div class="info-card">
                    <em>{{ 'project.feedback.status' | trans }}</em>
                    <strong>{{ ('project.status.' ~ feedback.status) | trans }}</strong>
                </div>
                <div class="info-card">
                    <em>{{ 'project.feedback.created_at' | trans }}</em>
                    <strong>{{ feedback.createdAt|date('full_date'| trans) }}</strong>
                </div>
                {% if feedback.createdAt != feedback.updatedAt %}
                <div class="info-card">
                    <em>{{ 'project.feedback.updated_at' | trans }}</em>
                    <strong>{{ feedback.updatedAt|date('full_date'| trans) }}</strong>
                </div>
                {% endif %}
            </div>
            <div class="feedback-content">
                <div class="description">
                    {{ feedback.description | raw }}
                </div>
                <hr>
                <div class="comments">
                    {% for comment in feedback.comments %}
                        <div class="comment">
                            <div class="feedback-content">
                                {{ comment.content | raw }}
                            </div>
                            <div class="author">
                                {{ comment.author.username }}, {{ 'project.comment.created_at' | trans({"%date%": comment.createdAt | date('full_date' | trans)} ) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="new-comment">
                    <textarea name="comment-content"></textarea>
                    <button onclick="create_comment('{{ feedback.id }}', '{{ feedback.type }}');">{{ 'project.comment.create' | trans }}</button>
                </div>
            </div>
            <div id="action-buttons">
                <button id="home-button" class="button" onclick="window.location= '{{path('project_board')}}';">
                    {{ 'project.feedback.home' | trans }}
                </button>
                {% if app.user.username is defined and feedback.author.username == app.user.username %}
                    <button id="edit-description-button" class="button" onclick="edit_description('{{ feedback.id }}', '{{ feedback.type }}');">
                        {{ 'project.feedback.edit' | trans }}
                    </button>
                    <button id="update-description-button" class="button" onclick="update_description('{{ feedback.id }}', '{{ feedback.type }}');">
                        {{ 'project.feedback.update' | trans }}
                    </button>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
