{% extends 'base.html.twig' %}
{% set is_author = app.user.username is defined and feedback.author.username == app.user.username %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/project.js') }}"></script>
{% endblock %}

{% block page_title %}
    <img src="{{ asset('images/icons/' ~ ((feedback.type == 'bug') ? 'bug.png': 'evolution.png')) }}" />
    {{ feedback.title }}
    <div id="title-button">
           <a href="{{ path('project_board') }}">
                <img src="{{ asset('images/icons/previous.png') }}" />
          </a>
    </div>
{% endblock %}

{% block body %}
    <div id="feedback">
        <section>

            <div class="feedback-content">
                <div class="description">
                    <div class="description-content">
                    {{ feedback.description | raw }}
                    </div>
                    <div class="description-actions">
                    {% if is_author %}
                        <div class="description-action">
                            <img id="edit-description-button" class='description-action-img' src="{{ asset('images/icons/edit.png') }}" onclick="edit_description('{{ feedback.id }}', '{{ feedback.type }}');"/>
                            <div id="confirm-description-changes">
                                <img class='description-action-img' src="{{ asset('images/icons/validate.png') }}" onclick="update_description('{{ feedback.id }}', '{{ feedback.type }}');"/>
                                <img class='description-action-img' src="{{ asset('images/icons/cancel.png') }}" onclick="cancel_update_description('{{ 'project.feedback.confirm_cancel' | trans }}');" />
                            </div>
                        </div>
                        <div id="description-old"></div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="description-action">
                            <img class='description-action-img' src="{{ asset('images/icons/remove.png') }}" onclick="remove_feedback('{{ feedback.id }}');" />
                        </div>
                    {% endif %}
                    </div>
                </div>

                <div class="infos">
                <div class="info-card">
                    <em>{{ 'project.feedback.author' | trans }}</em>
                    <strong>{{ feedback.author.username }}</strong>
                </div>
                <div class="info-card">
                    <em>{{ 'project.feedback.status' | trans }}</em>
                    <strong>{{ ('project.status.' ~ feedback.status) | trans }}</strong>
                </div>

                {% if feedback.labels | length > 0 or is_granted('ROLE_ADMIN') or is_author %}
                <div class="info-card">
                    <em>{{ 'project.labels.title' | trans }}</em>
                    <div class="labels {% if is_granted('ROLE_ADMIN') or is_author %}editable{% endif %}">
                    {% for label in labels %}
                        <div style="background-color: {{ label.color }}"
                             data-id="{{ label.id }}"
                             class="tooltip{% if feedback.hasLabel(label) %} active{% endif %}"
                             {% if is_granted('ROLE_ADMIN') or is_author %}onclick="toggle_label(event, '{{ feedback.id }}', '{{ feedback.type }}');"{% endif %}
                             >
                            <span class="tooltip-text">{{ label.name }}</span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if feedback.type == 'evolution' and feedback.status == 'to_specify' and (is_author or is_granted('ROLE_ADMIN')) %}
                    <div class="info-card">
                        <em>{{ 'project.feedback.poll' | trans }}</em>
                        {% if poll is defined and poll != null and poll.isOver == false %}
                            <a href="{{ path('get_poll', {'id': poll.id}) }}" class="button success">
                                {{ 'project.feedback.goto_poll' | trans }}
                            </a>
                        {% elseif poll is defined and poll != null and poll.isOver %}
                            <a href="{{ path('launch_feedback_poll', {'feedback_id': feedback.id}) }}" class="button success" style="background-color:#D00">
                                {{ 'project.feedback.retry_poll' | trans({"%score%": (poll.score / poll.nbVotes) * 100 }) }}
                            </a>
                        {% else %}
                            <a href="{{ path('launch_feedback_poll', {'feedback_id': feedback.id}) }}" class="button warning">
                                {{ 'project.feedback.launch_poll' | trans }}
                            </a>
                        {% endif %}
                    </div>
                {% elseif poll is defined and poll != null %}
                    <div class="info-card">
                        <em>{{ 'project.feedback.poll' | trans }}</em>
                        {% if poll.isOver %}
                            <a href="{{ path('get_poll', {'id': poll.id}) }}"
                               class="button success"
                               style="background-color: #{{ (poll.winningOption.value == 'project.votes.yes') ? '48C' : 'F00' }}">
                                {{ (poll.score / poll.nbVotes) * 100 }}%
                            </a>
                        {% else %}
                            <a href="{{ path('get_poll', {'id': poll.id}) }}" class="button success">
                                {{ 'project.feedback.goto_poll' | trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="info-card">
                    <em>{{ 'project.feedback.created_at' | trans }}</em>
                    <strong>{{ feedback.createdAt|date('full_date'| trans) }}</strong>
                </div>
                {% if feedback.createdAt != feedback.updatedAt %}
                <div class="info-card">
                    <em>{{ 'project.feedback.updated_at' | trans }}</em>
                    <strong>{{ feedback.updatedAt|date('full_date'| trans) }}</strong>
                </div>
                {% endif %}
            </div>
                <hr>
                <div class="comments">
                    {% for comment in feedback.comments %}
                        <div class="comment {% if comment.author.username == feedback.author.username %} speech-bubble-author
                        {% else %} speech-bubble {% endif %}">
                            <div class="author">
                                {{ comment.author.username }}
                                <div class="comment-date">
                                     - {{ 'project.comment.created_at' | trans({"%date%": comment.createdAt | date('full_date' | trans)} ) }}
                                </div>
                            </div>
                            <div class="feedback-content">
                                {{ comment.content | raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if is_granted('ROLE_USER') %}
                <div id="new-comment">
                    <textarea name="comment-content"></textarea>
                    <button onclick="create_comment('{{ feedback.id }}');">{{ 'project.comment.create' | trans }}</button>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
