
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                document.querySelector('#feedback-form').onsubmit = event => {
                    document.querySelector('#description').value = editor.getData();
                };
            })
            .catch(error => console.log(error));
    </script>
{% endblock %}

{% block page_title %}{{ (type == 'evolution' ? 'project.feedback.propose_evolution' : 'project.feedback.report_bug') | trans }}{% endblock %}

{% block body %}
    <form id="feedback-form" method="post" action="{{ path('create_feedback') }}">
        <input id="title" type="text" name="title" placeholder="{{ 'project.feedback.title' | trans }}"/>
        <div id="editor" class="cke-editor"></div>
        <input type="hidden" name="type" value="{{ type }}"/>
        <input type="hidden" name="description" id="description" value="" />
        <button class="button" type="submit">{{ 'project.feedback.create' | trans }}</button>
    </form>
{% endblock %}

